.burger__icon {
  top: 20px;
}

.burger__icon::before {
  content: "";
  top: -8px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__icon::after {
  content: "";
  bottom: -8px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__icon, .burger__icon:before, .burger__icon::after {
  width: 100%;
  position: absolute;
  height: 2px;
  background: #333;
  display: block;
  transition: .3s;
  border-radius: 1px;
}
