.description__paragraph {
  font: $paragraph;
}

.description__paragraph::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 132px;
  height: 2px;
  background-color: #D7D4D4;
  position: relative;
  right: -30px;
}

@media screen and (max-width: 1145px) {
  .description__paragraph {
    display: none;
  }
}
