.bikes__card-container {
  display: none;
}

.bikes__card-container .bikes__card-title_theme_dark {
  color: $color-primary;
}

@media screen and (max-width: 1330px) {
  .bikes__card-container {
    display: block;
  }
}
