.description__bike-fix {
  grid-area: bike-fix;
  position: sticky;
  top: 347px;
  bottom: 79px;
  width: 440px;
  height: 300px;
  background-color: #fff;
  filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
  border-radius: $radius;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-left: 50px;
  background-color: $bg-color;
}

@media screen and (max-width:560px) {
  .description__bike-fix {
    margin: 0;
    height: auto;
    width: 100%;
    padding: ((160px-138px)/2) ((234px-180px)/2);

    position: absolute;
    top: -137px;
    left: -52px;
    background-color: transparent;
  }
}
