.slider__nav {
  grid-area: slider-nav;
  display: flex;
  column-gap: 20px;
  margin-top: 50px;
}

@media screen and (max-width: 1145px) {
  .slider__nav {
    margin: 0;
    margin-right: 9px;
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 10px;
  }
}
