.header__mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 0;
  width: 100%;
  box-sizing: border-box;
  transition: height 0.8s;
  position: fixed;
  top: 74px;
  z-index: 4;
  background-color: $bg-color;
}

@media screen and (max-width: 560px) {
  .header__mobile-menu {
    display: flex;
  }
}
