.training__link {
  text-decoration: none;
  color: $color-primary;
  transition: opacity .5s;
}

.training__link:hover {
  opacity: .75;
}

@media screen and (max-width: 1024px) {
  .training__link {
    font: $training-link;
  }
}