.slider__slide-sticker {
  position: absolute;
  bottom: 16px;
  background-image: url(../images/sticker-bg.png);
  width: 100px;
  height: 40px;
  background-repeat: no-repeat;
  display: flex;
  padding-left: 16px;
  align-items: center;
}
