.bikes__image-container {
  background-color: $bg-color;
  width: 380px;
  height: 380px;
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
  padding: 20px;
  border-radius: $radius;
  box-sizing: border-box;
  transition: filter .5s;
}

.bikes__image-container:hover {
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.11));
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .bikes__image-container {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 380px;
    // max-height: 380px;
  }
}
