.description__btn {
  background: $btn-bg;
  border: none;
  padding: 16px 10px;
  width: 180px;
  border-radius: 4px;
  font: $btn-text;
  color: $btn-text-color;
  cursor: pointer;
  margin-bottom: 167px;
}
